@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.nav-fixed {
    display: flex;
    flex-direction: row;
    font-family: 'Rubik', sans-serif;
    font-size: 18px;
    font-weight: 800;
    /* background-color: rgb(84, 204, 241); */
    padding: 12px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 8;
    transition: 0.3s ease-in-out;
}


.nav-active {
    background-color: #fff;
    padding: 0;
    /* height: 58px; */
    box-shadow: -3px 0px 9px white;
}

@media (max-width: 1320px) {
    .nav-fixed {
        /* background-color: #6bf3ea;  */
        flex-direction: column;
    }
    .logo{
        margin: auto !important; 
        /* margin-left: auto; */
    }
    .logo-active {
        margin: auto;
    }
    #rec{
        /* height: 1252px; */
    }
    #primary1 {
        /* margin-top: 120px !important; */
        /* background-color: #266ca2; */
    }
    .v1{
        flex-wrap: wrap-reverse;
    }
    .flex-item {
        width: 23px;
    }
    .buttonbox {
        flex-direction: row !important;
    }
}

.logo {
    display: flex;
    margin: 0px 0px 0px 210px;
    padding: 13px;
}

.logo p {
    padding: 10px;
    font-size: 28px;
}

.logo img {
    width: 57px;
    height: 49px;
}

.logo-active {
    margin: 0px 0px 0px 240px;
}

.logo-active img {
    width: 39px;
    height: 35px;
    /* margin-left: 300px; */
}

.logo-active p {
    padding: 7px;
    font-size: 22px;
}

#options ul {
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

#options ul li {
    padding: 10px;
    text-decoration: none;
    font-weight: 800;
    list-style: none;
    margin-left: 25px;
}

#options ul li a {
    text-decoration: none;
    cursor: pointer;
    color: black;
    text-shadow: 1px 1px 5px white;
}

#options {
    margin: auto;
}

#primary {
    font-family: 'Rubik', sans-serif;
    color: aliceblue;
    height: 420px;
    text-shadow: 0px 4px 4px black;
}

#primary1 {
    margin: auto;
    margin-top: 260px;
    /* width: 800px; */

}

#p1 {
    font-size: 34px;
    /* width: 315px; */
    margin: auto;
    font-family: 'Pacifico', cursive;
}

#p2 {
    /* width: 565px; */
    margin: auto;
    font-size: 19px;
    margin-top: 44px;
}

#primary::before {
    position: absolute;
    content: "";
    background: url("../images/bg1.png") no-repeat center center/cover;
    height: 650px;
    width: 100%;
    top: 0;
    left: 0;
    /* opacity: 0.7; */
    z-index: -1;
}

.stepimg {
    height: 50px;
    width: 50px;
}

.stepimg1 {
    height: 50px;
    width: 100px;
}

.stepimg3 {
    height: 40px;
    width: 80px;
}

#howitworks {
    height: fit-content;
    margin-top: 100px;
    font-family: 'Rubik', sans-serif;
}

#hiw1 {
    width: 200px;
    margin: auto;
    padding: 10px;
}

#hiw11 {
    margin-top: 10px;
}

#hiw11 p {
    font-size: 30px;
    /* font-weight: bolder; */
}

#hiw11 div {
    background: black;
    width: 150px;
    height: 4px;
    margin: auto;
    margin-top: 5px;
    border-radius: 21px;
}

#hiw22 {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    padding-left: 51px;
    align-items: center;
    justify-content: center;
}

.stepbox {
    /* width: 295px; */
    margin: 13px;


}

#steps {
    /* padding: 60px 0px 60px 60px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* justify-content: center;
    align-items: center; */
}

#imgbox img {
    max-width: 100%;
    height: auto;
    /* width: 550px; */
}

.box {
    width: 233px;
    text-align: left;
}

.box p {
    margin-top: 8px;
}

.line1 {
    font-size: 20px;
}

.line2 {
    font-size: 15px;
}

#box3 {
    margin-top: 40px;
}

#box4 {
    margin-top: 40px;
}

#hiw2 {
    /* border: 2px solid rgb(0, 0, 0); */
    /* width: fit-content; */
    margin: auto;
    /* height: 564px; */
}

/* recomeended */
#recommend{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center; 
}

#rec {
    font-family: 'Rubik', sans-serif;
    height: fit-content;
}

.rec1 {
    margin-left: 76px;
    margin-bottom: 31px;
    text-align: left;
}

.wrapper {
    display: flex;
    width: fit-content;
    flex-wrap: wrap;

    align-items: center;
    justify-content: center;
    margin: auto;
}


.card {
    width: 219px;
    height: 225px;
    padding: 2rem 1rem;
    /* background: #fff; */
    margin: 10px 10px;
    position: relative;
    display: flex;
    align-items: flex-end;
    box-shadow: 0px 7px 10px rgba(0, 0, 0, 0.5);
    transition: 0.5s ease-in-out;
    border-radius: 20px;
}

.card:hover {
    transform: translateY(20px);
}

.card:before {
    content: "";
    position: absolute;
    top: 0;
    Left: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgb(255 255 255 / 0%), rgb(61 71 118 / 78%));
    z-index: 2;
    transition: 0.5s all;
    opacity: 1;
    border-radius: 20px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    Left: 0;
    border-radius: 20px;
}

.info {
    position: relative;
    color: #fff;
    transform: translateY(30px);
    transition: 0.5s all;
    font-size: 20px;
    text-align: center;
    z-index: 5;
    text-shadow: 0px 3px 5px black;
}

.card p {
    font-size: 16px;
    /* opacity: 0.8 showing bubble text because of opacity; */
    /* position: relative; this is going to show the text*/
    text-shadow: 0px 3px 5px black;
}

.card:hover:before {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(59, 68, 110, 0));
}

.card:hover p {

    transform: translateY(0px);
    color: white;
    text-shadow: 2px 2px 5px black;
}

.card:hover .info {
    opacity: 1;
    transform: translateY(0px);
    text-shadow: 2px 2px 5px black;

}





/* visualizer */
#visualizer {
    font-family: 'Rubik', sans-serif;
}

.v2 {
    display: flex;
}

.v1 {
    display: flex;
    padding: 37px 37px 0px 37px;
    /* flex-wrap: wrap-reverse; */
    align-items: center;
    justify-content: center;
}

.screen {
    /* border: 2px solid black; */
    /* height: 319px;
    margin: auto; */
}

.buttonbox {
    display: flex;
    flex-direction: column;
}

#headdiv {

    /* background: url("../images/bg1.png") no-repeat center center/cover; */
    width: 100%;
    height: 59px;
    text-align: center;
    margin: auto;
    /* border-radius: 78px; */
    padding: 10px;
    /* background-color: #2888ff; */
    /* color: aliceblue; */
    opacity: 0.9;
    /* text-shadow: 2px 3px 4px black; */

}

#vis p {
    font-size: 40px;
    font-weight: bolder;
}

#vis div {
    background: black;
    width: 215px;
    height: 4px;
    margin: auto;
    margin-top: 5px;
    border-radius: 21px;
}

#visualizer {
    font-family: 'Rubik', sans-serif;
}

.buttonbox {
    padding: 35px;
    /* margin: auto; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* flex-direction: row; */
}

/* .btn {
    box-shadow: 2px 3px 4px rgb(0 0 0 / 20%);
    border: 2px solid #266ca2;
    border-radius: 20px;
    background-color: #266ca2;
    padding: 10px;
    font-size: 18px;
    margin: 10px 10px;
    cursor: pointer;
    width: 160px;
    color: white;
}

.btn:active {
    color: #266ca2;
    background-color: aliceblue;
} */


.btn {
    background-color: #266ca2;
    border: none;
    color: white;
    width: 180px;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 8px;
    border-radius: 50px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    transition-duration: 0.2s;
  }
  
  .btn:hover {
    background-color: white;
    color: #00BFFF;
    cursor: pointer;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
                0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

button:disabled,
button[disabled] {
    /* border: 1px solid #999999; */
    background-color: aliceblue;
    color: #266ca2;
    cursor: no-drop !important;
}

.v22 {
    display: flex;
    /* width: 1092px; */
    flex-wrap: wrap;
    /* width: 1242px; */
    margin: auto;
    align-items: center;
    justify-content: center;
}

.d {
    margin: 0px 30px;
    display: flex;
}

.d div {
    display: flex;
    align-items: center;
    font-size: 18px;
    width: 70px;
}

.flex-container {
    margin-top: 41px;
    display: flex;
    align-items: flex-end;
    transition: 2s all ease;
    justify-content: center;

}

.flex-item {
    background: rgb(38 108 162);
    border: 1pt solid black;
    border-radius: 3px;
    width: 28px;
    margin: 0px 1px;
    transition: 0.1s all ease;
    font-weight: bold;
    color: black;
    text-shadow: white 0px 0px 5px;

}

.row {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
}

#bars {
    /* width: 1000px;
    height: 330px; */
    /* margin: auto; */
    padding: 0px 30px;
}

#barscontainer {
    background-color: black;
    border-radius: 29px;
    height: 380px;
    box-shadow: 0px 7px 10px rgb(0 0 0 / 50%);
}


a {
    text-decoration: none;
}

#visualizer {
    background-color: #f9f9f9;
    height: 650px;
}

.end {
    /* font-family: 'Rubik', sans-serif; */
    background-color: #266ca2;
    height: 40px;
    padding: 10px;
}

.endbox {
    width: 15%;
    /* color: aliceblue; */
    margin: auto;
}

.legendsection{
    align-items: center;
    justify-content: center;
}

.legends
{
    width: 74%;
    /* margin-left: 314px;
    margin-bottom: 15px; */
    margin: auto;
    background-color: black;
    box-shadow: 0px 7px 10px rgb(0 0 0 / 50%);
    border-radius: 15px;
    height: 60px;
    color: rgb(255 255 255);
    padding: 10px;
    display: flex;
}
.leg
{
    display: flex;
    margin-left: 10px;
    font-size: 14px;
    text-align: left;
    font-family: math;
}
.lcolor
{
    width: 15px;
    height: 15px;
    margin-right: 5px;
    margin-top: 2px;
    background-color: #f9f9f9;
}
.legwork
{
    height: 12px;
}

.legHeading
{
    font-size: 23px;
    color: aliceblue;
    font-family: 'Pacifico';
    text-align: center;
    margin: auto;
    text-shadow: 1px 1px 5px #1692ff;
}


.reverse-range {
    direction: rtl;
    transform: scaleX(-1);
  }

  .footer
  {
    position: absolute;
    height: 50px;
    width: 100%;
    font-family: math;
    text-align: center;
    font-size: 20px;
    padding: 13px 0px 0px 0px;
    background-color: #266ca2;
    color: aliceblue;
  }
  
  .range-slider {
    -webkit-appearance: none;
    appearance: none;
    height: 3px;
    border-radius: 3px;
    background-color: #ddd;
    outline: none;
    margin: 20px 0;
    cursor: pointer;
    background-color: #fff;
    border: 2px solid #91d5ff;
    border-radius: 50%;
    width: 160px;
    margin: 31px 0px;
  }
  
  
  
  .speedHead{
    font-family: 'Pacifico';
  }
  .sizeHead{
    font-family: 'Pacifico';
  }

  .range-slider:disabled{
    border: 2px solid gray;
    cursor: no-drop;
  }

  .code-nav-options ul li {
    cursor: pointer;
  }


.selectVis_Head {
    margin-top: 10px;
}

.selectVis_Head  p {
    font-size: 30px;
    /* font-weight: bolder; */
}

.selectVis_Head  div {
    background: black;
    width: 150px;
    height: 4px;
    margin: auto;
    margin-top: 5px;
    border-radius: 21px;
}

.selectVis{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 40px;
    flex-wrap: wrap;
}

.selectVis_Primary{
    font-size: x-large;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.selectVis_Btn {
    position: relative;
    overflow: hidden;
    height: 3rem;
    padding: 0 2rem;
    border-radius: 1.5rem;
    background: #266ca2;
    background-size: 400%;
    color: #fff;
    border: none;
    cursor: pointer;
    width: auto;
    font-size: 20px;
  }
  
  .selectVis_Btn:hover::before {
    transform: scaleX(1);
  }
  
  .button-content {
    position: relative;
    z-index: 1;
  }
  
  .selectVis_Btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transform: scaleX(0);
    transform-origin: 0 50%;
    width: 100%;
    height: inherit;
    border-radius: inherit;
    background: linear-gradient( 82.3deg, rgb(38 108 162) 10.8%, rgb(0 0 0 / 29%) 94.3% );
    transition: all 0.475s;
  }
  