.VP-nav
{
    height: 50px;
    width: 100%;
    background-color: #266ca2;
    font-size: 25px;
    padding: 8px 25px;
    font-weight: bold;
    font-family: 'Rubik', sans-serif;
    color: aliceblue;
    text-align: left;
    display: flex;
}

.VP-nav a{
    text-decoration: none;
    color: inherit;
}

.VP-primary{
    margin-top: 20px;
}

.VP-form{
    font-family: 'Rubik', sans-serif;
    width: 50%;
    margin: 20px auto;
}

.VP-primary-heading{
    color: rgb(86, 144, 243);;
}

.VP-form-heading{
    margin: 10px 0px;
    font-size: 15px;
}


.input{
    font-family: 'Rubik', sans-serif;
    margin: 5px 10px;
    height: 50px;
    width: 186px;
    border-radius: 4px;
    border: 1px solid #5690f3;
    padding: 5px;
}

.VP-textarea{
    font-family: 'Rubik', sans-serif;
    height: 240px;
    width: 597px;
    margin-top: 20px;
    resize: none;
    border-radius: 4px;
    padding: 10px;
    border: 1px solid #5690f3;
}

.VP-submit{
    margin-top: 20px;
}
.VP-submit-button{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    width: 40%;
    height: 42px;
    cursor: pointer;
    text-align: center;
    color: aliceblue;
    margin: auto;
    font-weight: bolder;
    border: aliceblue;
    border-radius: 8px;
    background-color: #5690f3;
}
.error-message{
    font-size: 12px;
    color: red;
    text-align: center;
}
.VP-logo{
    display: flex;
    margin: auto;
    color: black;
    text-shadow: aliceblue 2px 2px 10px;

}
.VP-logo img{
    width: 30px;
    height: 30px;
}
.VP-home{
    display: block;
}